.layout-container {
  min-height: 100vh;
  display: flex;
  background: linear-gradient(120deg, #f5f7fa 0%, #c3cfe2 100%);
  align-items: center;
  justify-content: center;
}
.login-section, .welcome-section {
  flex: 1 1 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 300px;
}
@media (max-width: 900px) {
  .layout-container {
    flex-direction: column;
    padding: 2rem 0;
  }
  .login-section, .welcome-section {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}